body {
    background-color: #ffffff;
    font-family: Times New Roman;
    font-size: 14px;
    background: url('image.jpg');
    opacity: 0.9;
    color: white;
}

.container {
    font-family: Times New Roman;
    font-size: 14px;
    max-width: 600px;
}

h1 {
    font-size: 14px;
}

p {
    font-size: 14px;
}

#riddle, #result {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 10px; /* Скругленные углы */
    font-size: 17px;
}

#answer {
    background-color: white; /* Белый фон для поля ввода */
    color: black; /* Черный цвет текста в поле ввода */
    font-size: 17px;
    border-radius: 10px;
}

#submit {
    background-color: #007bff; /* Голубой фон для кнопки */
    border: none; /* Убираем стандартную рамку */
    color: white; /* Белый цвет текста кнопки */
    font-size: 17px;
    border-radius: 10px;
}

#submit:hover {
    font-size: 17px;
    background-color: #0056b3; /* Темно-голубой фон при наведении */
    border-radius: 10px;
}
